.logo {
  height: 100px;
  width: 100px;
  margin: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #e5ebf0;
  box-shadow: 7px 7px 10px #98a3ad, -7px -7px 10px white;
}
.logo img {
  transition: transform 0.7s ease;
}
.logo:hover img {
  transform: scale(1.2);
}
