.App {
  text-align: center;
  font: normal small-caps normal 16px/1.4 Georgia;
  margin: auto;
  width: 60%;
  height: 100%;
  padding: 10px;
}
.cardCointainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
